@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: -webkit-radial-gradient(top left, #350fa2, #09021d);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}
* {
  border-radius: 5px;
}

::-webkit-scrollbar {
  display: none;
}

.offset {
  max-width: 1336px;
  padding: 0px 130px;
  margin: auto;
}

.title {
  font-size: 44px;
}

.polygone {
  border-radius: 0px !important;
  clip-path: polygon(
    0% 30%,
    10% 0%,
    100% 0%,
    100% 70%,
    90% 100%,
    10% 100%,
    0% 100%
  );
}
@media screen and (max-width: 960px) {
  .offset {
    padding: 0px 20px;
  }
  .title {
    font-size: 32px;
  }
}
